<center>
  <h1> <%= @cocktail.name %> </h1>
  <h2>Doses</h2>
  <br>
  <% @cocktail.doses.each_with_index do |dose, index| %>
    <h4>
      Dose # <%= index + 1 %> --> <%= dose.description %> of <%= dose.ingredient.name %>
    </h4>
  <% end  %>
  <%= link_to "Add a dose", new_cocktail_dose_path(@cocktail), class: "btn btn-primary" %>
  <br><br>
  <%= link_to "Go Back to Cocktails", cocktails_path, class: "btn btn-danger"%>

</center>
